<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <hr><br>
    <h2 class="footer-heading">Anubhav</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">KMIT Students</li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/KMIT-Students"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">KMIT-Students</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Classroom blogs where students can share their ideas.</p>
      </div>
    </div>

  </div>

</footer>
